{% extends "base.html" %}{% load static %}
{% block content %}
    {% include "layouts/navbar.html" %}
   <div id="content-stage">
          <div class="container-fluid"></div>
               <section id="migalhas" class="administracao">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <a href="/">Início <i class="fa fa-angle-right"></i></a>

                          </div>
                      </div>
                  </div>

              </section>
   </div>
    <main role="main">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h1>Financeiro</h1>
          <div class="page-header">
            <span class="pull-right">
                  <a  href="{% url 'recibo_add' %}">
                      <button type="button" class="btn btn-secondary">
                        <span class="fa fa-plus"></span> Adicionar
                      </button>
                  </a>
                    <a  href="{% url 'relatorio_list' %}">
                      <button type="button" class="btn btn-dark">
                         Relatórios
                      </button>
                  </a>
            </span>
          </div>
        </div>

        <div class="card-body">
        {% if object_list %}



                        <table class="table table-sm table-responsive-sm">
                            <thead class="thead-dark">
                              <tr>
                                <th>Nº</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Valor</th>
                                <th>Valor C/ Recibo</th>
                                <th>Recibo</th>
                              </tr>
                            </thead>
                            <tbody>
                 {% for object in object_list %}

                  {% if user.id == object.profissional.id %}

                    <tr class="{% if event.priority == '1' %} table-success{% elif event.priority == '2' %} table-warning{% elif event.priority == '3' %} table-danger{% else %} table-default{% endif %}">

                          <td>
                          <a class="text-dark" href="#">{{ object.id }}</a>
                        </td>
                          <td>
                          <a class="text" href="{% url 'recibo_edit' object.id %}">{{ object.paciente.nome }}</a>
                        </td>
                        <td class="text-truncate">
                          <a class="text-dark" href="#">{{ object.paciente.cpf }}</a>
                        </td>
                          <td class="text-truncate">
                          <a class="text-dark" href="#">{{ object.valor}}</a>
                        </td>
                          {% if object.recibo  %}
                            <td class="text-truncate">
                              <a class="text-dark" href="#">{{ object.valor}}</a>
                            </td>
                            <td class="text-truncate">
                                <a target="_blank" type="button" href="{% url 'recibo_detail' object.id %}">
                                    <button type="button" class="btn btn-dark">
                                       Recibo
                                    </button>
                                </a>
                              </td>
                          {% else %}
                            <td class="text-truncate">
                              <a class="text-dark" href="#">-</a>
                            </td>
                            <td class="text-truncate">

                            </td>
                          {% endif %}

                    </tr>

                     {% else %}

                    {% endif %}

                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% with events as paginated %}
            {% include "layouts/pagination.html" %}
          {% endwith %}
          <hr/>
          <p>Você tem {{ total }} evento{{ total|pluralize }} registrado{{ total|pluralize }}.</p>
        {% else %}
          <div class="alert alert-secondary text-center">
            Sem eventos cadastrados.
          </div>
        {% endif %}

        </div>
      </div>
    </main>
{% include "modals/new.html" %}
{% endblock %}