{% extends "base.html" %}{% load static %}
{% block content %}
  {% include "layouts/navbar.html" %}
 <main role="main">

      <div class="jumbotron rounded-0 text-center ">
        {% if object_list %}
            {% for object in object_list %}
                <h1 class="display-5">{{ object.nome }}</h1>
            {% endfor %}
        {% else %}
             <h1 class="display-5">Aplicativo da Clínica</h1>
        {% endif %}
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-4 col-md-2 offset-md-3">
            <a href="prontuario/">
              <img src="{% static 'new.png' %}" class="img-fluid"/>
            </a>
            <br/>
            <h6 class="py-2">Prontuário</h6>
          </div>
          <div class="col-4 col-md-2">
            <a href="recibo/">
              <img src="{% static 'today.png' %}" class="img-fluid"/>
            </a>
            <br/>
            <h6 class="py-2">Financeiro</h6>
          </div>
          <div class="col-4 col-md-2">
            <a href="agenda/">
              <img src="{% static 'all.png' %}" class="img-fluid"/>
            </a>
            <br/>
            <h6 class="py-2">Agenda</h6>
          </div>
        </div>
      </div>
    </main>
{% include "modals/new.html" %}
{% endblock %}