{% extends "base.html" %}

{% block content %}



  <center><h1>{{ object }}
    <span class="pull-right">

    </span>
  </h1></center>



    <div class="card ">
      <div class="card-header">
       <center><b>Prontuário Odontológico Nº: {{ object.id }}-{{ object.cpf }}</b> </center>
      </div>
      <div class="card-body">
        <b><tbody>

            <tr>
              <th>Nome:</th>
              <td>{{ object.nome }}</td>
            </tr>
            <br>
            <br>
            <tr>
              <th>CPF:</th>
              <td>{{ object.cpf }}</td>
            </tr>
            <br>
            <br>
            <tr>
              <th >RG:</th>
              <td>{{ object.rg }}</td>
            </tr>
            <br>
            <br>
            <tr>
              <th >Data de Nasciemnto:</th>
              <td>{{ object.data_nascimento }}</td>
               <tr>
              <br>
              <br>
              <th >E-mail:</th>
              <td>{{ object.email }}</td>
            </tr>
               <tr>
              <br>
              <br>
              <th >Telefone:</th>
              <td>{{ object.telefone }}</td>
            </tr>
            <tr>
              <br>
              <br>
              <th >Endereço:</th>
              <td>{{ object.endereco }}</td>
            </tr>
            <br>
            <br>
            <tr>
              <th >Data da primeira Consulta:</th>
              <td>{{ object.data_consulta }}</td>
            <tr>
              <br>
              <br>
            <tr>
              <th >Documentos:</th>
              <td>{{ object.doumentos }}</td>
            <tr>
          </tbody></b>

      </div>
      <div class="card-footer text-muted">
        <a href="{% url 'paciente_edit' object.id %}">
            <button type="button" class="btn btn-success">
              <span class="fa fa-pencil"></span> Editar
            </button>
          </a>
      </div>
    </div>







{% endblock content %}
