{% load static %}

<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0"/>



    <meta name="description" content="Este recibo serve como comprovante do pagamento realizado e recebido, não restando mais nada em aberto, referente ao que está descrito no documento."/>
            <meta name="robots" content="noindex">

    <meta property="og:locale" content="pt_BR">
    <meta property="og:title" content="Recibo de Pagamento | Cobre Fácil">
    <meta property="og:url" content="https://www.cobrefacil.com.br">
    <meta property="og:description" content="Este recibo serve como comprovante do pagamento realizado e recebido, não restando mais nada em aberto, referente ao que está descrito no documento.">
    <meta property="og:image" content="https://www.cobrefacil.com.br/site-asset/images/plataforma-cobre-facil.png">
    <meta property="og:image:secure_url" content="https://www.cobrefacil.com.br/site-asset/images/plataforma-cobre-facil.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" sizes="57x57" href="/site-asset/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/site-asset/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/site-asset/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/site-asset/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/site-asset/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/site-asset/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/site-asset/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/site-asset/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/site-asset/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/site-asset/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/site-asset/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/site-asset/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/site-asset/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site-asset/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/site-asset/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#0059f1">

    <link id="sprite-svg" rel="prefetch" href="/site-asset/images/sprite.svg?v=06072021">

    <meta name="facebook-domain-verification" content="49omanfyelfroakb1k61wo7mdow14o" />

        <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="77GSW7O20aDCBHH98k6gtdSza5qVZHuz9wlgZxDlN5vawdY41t3oxPA9Oc6jeOnD-f8i9_4wS_W-XBEUKIt7zg==">

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://use.typekit.net/wal4msa.css" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="/site-asset/css/style.css?v=1649264224" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ktD6xWx0DC6muuPN3frfNtHzmGyBGBg-dUG8DP09gHvuxZxFAm66HKgl9exOxOI36WBZD-QKTf3GLU210egx_Se0I8YA02LGUlv9mLBuvhM" charset="UTF-8"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WTBKP9T');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="receipt-viewer">
        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTBKP9T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

            <header class="header">
            <div class="container">

<!--VOLTAR-->


                    <div id="navbar" class="justify-content-end">
                        <ul class="navbar-nav">

                            <li class="nav-item">

                                    <svg width="24" height="24">
                                        <use xlink:href="#angle-down"></use>
                                    </svg>
                                </span>
                                <div class="megamenu-group collapse" id="product-submenu">
                                    <div class="megamenu">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12">
                                                    <ul class="megamenu-links row">
                                                        <li class="col-lg-5" data-aos="fade-down">
                                                            <a href="/controle-mensalidade" class="megamenu-item">
                                                                <svg width="40" height="40" class="megamenu-links-icon-light">
                                                                    <use xlink:href="#money"></use>
                                                                </svg>
                                                                <svg width="40" height="40" class="megamenu-links-icon-dark">
                                                                    <use xlink:href="#money-dark"></use>
                                                                </svg>
                                                                <div class="megamenu-item-content">
                                                                    <p class="megamenu-links-title">Controle de Mensalidade</p>
                                                                    <p class="megamenu-links-description">Oferece um serviço mensal para seu cliente? Cobre mensalidades de forma automatizada</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-lg-5" data-aos="fade-down">
                                                            <a href="/cobranca-recorrente" class="megamenu-item">
                                                                <svg width="40" height="40" class="megamenu-links-icon-light">
                                                                    <use xlink:href="#mobile-money"></use>
                                                                </svg>
                                                                <svg width="40" height="40" class="megamenu-links-icon-dark">
                                                                    <use xlink:href="#mobile-money-dark"></use>
                                                                </svg>
                                                                <div class="megamenu-item-content">
                                                                    <p class="megamenu-links-title">Cobrança Recorrente</p>
                                                                    <p class="megamenu-links-description">Gerencie cobranças recorrentes dos clientes que pagam via cartão de crédito.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-lg-5" data-aos="fade-down" data-aos-duration="500">
                                                            <a href="/carne-de-pagamento" class="megamenu-item">
                                                                <svg width="40" height="40" class="megamenu-links-icon-light">
                                                                    <use xlink:href="#booklet"></use>
                                                                </svg>
                                                                <svg width="40" height="40" class="megamenu-links-icon-dark">
                                                                    <use xlink:href="#booklet-dark"></use>
                                                                </svg>
                                                                <div class="megamenu-item-content">
                                                                    <p class="megamenu-links-title">Carnê de Pagamento</p>
                                                                    <p class="megamenu-links-description">Emita carnês de pagamento para cobrar seus clientes de forma recorrente e sem cartão de crédito.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-lg-5" data-aos="fade-down" data-aos-duration="500">
                                                            <a href="/cobranca-pix" class="megamenu-item">
                                                                <svg width="40" height="40" class="megamenu-links-icon-light">
                                                                    <use xlink:href="#icon-pix"></use>
                                                                </svg>
                                                                <svg width="40" height="40" class="megamenu-links-icon-dark">
                                                                    <use xlink:href="#icon-pix-dark"></use>
                                                                </svg>
                                                                <div class="megamenu-item-content">
                                                                    <p class="megamenu-links-title">PIX Cobrança</p>
                                                                    <p class="megamenu-links-description">Ideal para cobrar serviços pontuais e clientes que não têm cartão de crédito.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-lg-5" data-aos="fade-down" data-aos-duration="600">
                                                            <a href="/boleto-bancario" class="megamenu-item">
                                                                <svg width="40" height="40" class="megamenu-links-icon-light">
                                                                    <use xlink:href="#plots-2"></use>
                                                                </svg>
                                                                <svg width="40" height="40" class="megamenu-links-icon-dark">
                                                                    <use xlink:href="#plots-2-dark"></use>
                                                                </svg>
                                                                <div class="megamenu-item-content">
                                                                    <p class="megamenu-links-title">Boleto Bancário</p>
                                                                    <p class="megamenu-links-description">Cobre seus clientes por boleto bancário com muita facilidade.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-lg-5" data-aos="fade-down" data-aos-duration="600">
                                                            <a href="/link-de-pagamento" class="megamenu-item">
                                                                <svg width="40" height="40" class="megamenu-links-icon-light">
                                                                    <use xlink:href="#plots-2"></use>
                                                                </svg>
                                                                <svg width="40" height="40" class="megamenu-links-icon-dark">
                                                                    <use xlink:href="#plots-2-dark"></use>
                                                                </svg>
                                                                <div class="megamenu-item-content">
                                                                    <p class="megamenu-links-title">Link de Pagamento</p>
                                                                    <p class="megamenu-links-description">Faça vendas recorrentes sem precisar de maquininha.</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="megamenu-footer">
                                            <div class="container">
                                                <span>Automatize e facilite a cobrança dos seus clientes</span>
                                                <a class="btn rounded-pill btn-link" href="/cadastrar">
                                                    Começar agora
                                                    <svg width="24" height="24" class="btn-arrow">
                                                        <use xlink:href="#arrow-right"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                                    <svg class="d-lg-none d-xl-inline-block" width="24" height="24">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="megamenu-overlay collapse fade" id="product-submenu-overlay"></div>


    <div class="receipt-viewer-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h2 class="h2">
                        <center>Recibo</center>
                    </h2>

                   <!--- <p>
                                                    Enviamos uma cópia do recibo para seu e-mail - {{ object.email }}✉️
                            </a>-->
                                            </p>
                    <div class="card">
                        <div class="card-body">
                                <div class="card-logo">
                                    <center><img src="{% static 'assets/img/logo_2_f.png' %}" alt=""></center>
                                </div>

                            <h2 class="h6">
                                <center>Recibo de Pagamento Nº {{ object.id }} </center>                           </h2>

                            <h3 class="h8">
                                Dados do recibo
                            </h3>
                            <table class="table">
                                <tr>
                                    <td>Data de emissão</td>
                                    <td class="col-value">{{ object.data }} </td>
                                </tr>
                            </table>
                        </div>
                        <b><div class="card-body">
                            <h3 class="h8">
                                Dados do pagador
                            </h3>
                            <table class="table">
                                <tr>
                                    <td>Nome</td>
                                    <td class="col-value">Rosane Caroline de Paula Duarte</td>
                                </tr>
                                <tr>
                                    <td>CPF/CNPJ</td>
                                    <td class="col-value">049.673.983-24</td>
                                </tr>
                                <tr>
                                    <td>Celular</td>
                                    <td class="col-value">(84) 99632-8110</td>
                                </tr>
                            </table></b>
                        </div>
                        <div class="card-body">
                            <h3 class="h8">
                                Dados do beneficiário
                            </h3>
                            <table class="table">
                                <tr>
                                    <td>Nome</td>
                                    <td class="col-value"><b>{{ object }}</b></td>
                                </tr>
                                <tr>
                                    <td>CPF/CNPJ</td>
                                    <td class="col-value"><b>{{ object.cpf }}</b></td>
                                </tr>
                                <tr>
                                    <td>Cidade</td>
                                    <td class="col-value"><b>{{ object.endereco }}</b></td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-body">
                            <h3 class="h8">
                                Serviço
                            </h3>
                            <table class="table">

                                <tbody>
                                                                                                                                        <tr>
                                        <td>{{ object.servico }}</td>

                                    </tr>
                                                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <b>Valor total: R$ {{ object.valor }}      </b>                               </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                               <div class="card-body">
                                <h3 class="h8">
                                    Observação: {{ object.observacao }}
                                </h3>
                                <p>
                                                                   </p>
                            </div>
                                                <div class="card-body text-center">
                            <p>
                                Este recibo serve como comprovante do pagamento realizado e recebido, não<br class="d-none d-lg-block">
                                restando mais nada em aberto, referente ao que está descrito no documento.
                            </p>
                            <div class="card-signature">
                                Caroline de Paula Duarte - CRO xxxx                            </div>
                        </div>

                    </div>
                    <!--<center><div class="card-after">
                        <a target="_new" href="#">
                            <svg class="icon" width="17" height="17"><use xlink:href="#print"></use></svg>
                            Imprimir Recibo
                        </a>
                        <a target="_new" href="/recibo-online/arquivo/G7Y0JZ" class="btn btn-sm rounded-pill btn-outline-primary">
                            <svg class="icon" width="16" height="16"><use xlink:href="#download"></use></svg>
                            Fazer download
                        </a>
                        <a target="_new" href="https://wa.me/?text=https%3A%2F%2Fwww.cobrefacil.com.br%2Frecibo-online%2FG7Y0JZ" class="btn btn-sm rounded-pill btn-whatsapp">
                            <svg class="icon" width="19" height="19"><use xlink:href="#whatsapp"></use></svg>
                            Envie pelo WhatsApp
                        </a> -->
                    </div></center>
                </div>
            </div>
        </div>
    </div>

    <div class="nf-unlimited-auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <img src="/site-asset/images/nf-unlimited-auto.png" srcset="/site-asset/images/nf-unlimited-auto.png 1x, /site-asset/images/nf-unlimited-auto-@2x.png 2x" class="img-fluid d-none d-lg-block" alt="">
                </div>

            </div>
        </div>
    </div>


    <script src="//code.jivosite.com/widget/2NYTCn6zR0" async></script>

    <!-- Global site tag (gtag.js) - Google Ads: 665333837 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-665333837"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-665333837');
    </script>

    <img src="/wa-px-ck?t=1651142567.9046" style="position:absolute; visibility:hidden" /><script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=HTMLPictureElement"></script>
<script src="/site-asset/js/script.js?v=1625707346"></script>
    <script>
        (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
            w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
            m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://conteudo.cobrefacil.com.br/mtc.js','mt');

        mt('send', 'pageview');
    </script>
</body>
</html>
