{% extends "base.html" %}{% load static %}
{% block content %}
    {% include "layouts/navbar.html" %}
   <div id="content-stage">
          <div class="container-fluid"></div>
               <section id="migalhas" class="administracao">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <a href="/">Início <i class="fa fa-angle-right"></i></a>
                              <a href="/recibo">Financeiro <i class="fa fa-angle-right"></i></a>

                          </div>
                      </div>
                  </div>

              </section>
   </div>
    <main role="main">
      <div class="card">
        <div class="card-body">
        {% if object_list %}



                        <table class="table table-sm table-responsive-sm">
                            <thead class="thead-dark">
                              <tr>
                                <th>Nº</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Valor</th>
                                <th>Recibo</th>
                              </tr>
                            </thead>
                            <tbody>
            {% for object in object_list %}

                {% if user.id == object.profissional.id %}
                    <tr class="{% if event.priority == '1' %} table-success{% elif event.priority == '2' %} table-warning{% elif event.priority == '3' %} table-danger{% else %} table-default{% endif %}">

                          <td>
                          <a class="text-dark" href="#">{{ object.id }}</a>
                        </td>
                          <td>
                          <a class="text-dark" href="#">{{ object.paciente.nome }}</a>
                        </td>
                        <td class="text-truncate">
                          <a class="text-dark" href="#">{{ object.paciente.cpf }}</a>
                        </td>
                          <td class="text-truncate">
                          <a class="text-dark" href="#">{{ object.valor}}</a>
                        </td>
                          {% if object.recibo  %}
                            <td class="text-truncate">
                              <a class="text-dark" href="#">{{ object.valor}}</a>
                            </td>
                          {% else %}
                            <td class="text-truncate">
                              <a class="text-dark" href="#">-</a>
                            </td>

                           <table class="table table-sm table-responsive-sm">
                            <thead class="thead-dark">
                              <tr>
                                  <th></th>
                                <th>
                                    <div align="left">Total</div>
                                </th>

                              </tr>


                            </thead>


                </td>
              </tr>
                          {% endif %}
                     {% else %}

                    {% endif %}

            {% endfor %}
            </tbody>
          </table>
          {% with events as paginated %}
            {% include "layouts/pagination.html" %}
          {% endwith %}
          <hr/>
          <p>Você tem {{ total }} evento{{ total|pluralize }} registrado{{ total|pluralize }}.</p>
        {% else %}
          <div class="alert alert-secondary text-center">
            Sem eventos cadastrados.
          </div>
        {% endif %}

        </div>
      </div>
    </main>
{% include "modals/new.html" %}
{% endblock %}